<div *ngIf="questions">
  <div *ngIf="!showResults" class="questions">
    <app-question-form [question]="questions[currentQuestionIndex!]" (onChoiceMade)="updateChoice($event)">
    </app-question-form>
    <button class="btn btn-primary" (click)="nextOrViewResults()" [disabled]="!answers!.values[currentQuestionIndex!]">
      {{currentQuestionIndex === questions.length -1 ? 'View results' : 'Next'}}
    </button>
  </div>
  <app-results *ngIf="showResults" [answers]="answers" [questions]="questions"></app-results>
</div>