<div *ngIf="questions">
  <div *ngIf="!showResults" class="questions">
    <app-question-form [question]="questions[currentQuestionIndex!]" (onChoiceMade)="updateChoice($event)" (onDragChangeMade)="updateDrag($event)">
    </app-question-form>
    <div class="padding-top padding-bottom">
      <button class="btn btn-primary" (click)="nextOrViewResults()"
        [disabled]="!answers!.values[currentQuestionIndex!]">
        {{currentQuestionIndex === questions.length -1 ? 'View results' : 'Next'}}
      </button>
    </div>
  </div>
  <app-results *ngIf="showResults" [answers]="answers" [questions]="questions"></app-results>
</div>