<div class="quiz" *ngIf="question">
  <div>
    <strong [innerHtml]="question.label"></strong>
    <form [formGroup]="form">
      <div class="form-check" *ngFor="let choice of question.choices; let i = index">
        <input class="form-check-input" type="radio" [value]="choice" formControlName="choice" id="flexRadioDefault{{i}}" />
        <label class="form-check-label" for="flexRadioDefault{{i}}">{{choice.value}}</label>
      </div>
    </form>
  </div>
  <br />
  <div>
    <ngb-accordion #acc="ngbAccordion" *ngIf="question.metadata">
      <ngb-panel *ngIf="question.metadata.description" title="Reveal Answer">
        <ng-template ngbPanelContent>
          <p *ngIf="question.metadata.description" [innerHtml]="question.metadata.description"></p>
          <p *ngIf="question.metadata.reference">
            Reference:
            <a [href]="question.metadata.reference" target="_blank">
              {{question.metadata.reference}}
            </a>
          </p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>