<h3>
  Choose your Topic
</h3>
<div>
  <p><strong>Certification Provider: </strong>Microsoft</p>
  <p><strong>Exam: </strong>Developing Solutions for Microsoft Azure</p>
  <p><strong>Duration: </strong>2 Hours</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/topic1">
        Topic 1
      </button>
    </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/topic2">
          Topic 2
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/topic3">
          Topic 3
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/topic4">
          Topic 4
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-drag-drop></app-drag-drop>